{% extends 'tree/index.html.twig' %}
{% block treeContent %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error.messageKey }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div align="center">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center justify-content-center" style="width: 25rem;">
                    <h5 class="card-header bg-dark text-white">Login</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <form action="{{ path('login') }}" method="post">
                                <!-- CSRF = Cross Site Request Forgery -->
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                Username: <input class="form-control" type="email" name="_username"
                                                 value="{{ last_username }}"/><br/>
                                Password: <input class="form-control" type="password" name="_password"/><br/>
                                <input class="btn btn-primary" type="submit" value="LOGIN"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center justify-content-center" style="width: 25rem;">
                    <h5 class="card-header bg-dark text-white">Register</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <form action="{{ path('register') }}" method="post">
                                Username: <input class="form-control" type="email" name="_username"
                                                 value="{{ last_username }}"/><br/>
                                Password: <input class="form-control" type="password" name="_password"/><br/>
                                <input class="btn btn-primary" type="submit" value="REGISTER"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}