{# templates/tree/edit_tree.html.twig #}
{% extends 'tree/index.html.twig' %}
{% block treeContent %}
    <div class="container">
        <div class="card justify-content-center">
            <h5 class="card-header bg-dark text-white">
                Edit
                <a href="{{ path('treeList') }}" class="btn btn-success float-right">Tree list</a>
            </h5>
            <div class="card-body">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

                <hr/>
                {% if tree.treeSketchfabLink is not null and remote_file_exists(tree.treeSketchfabLink) %}
                    <div class="sketchfab-embed-wrapper" align="center">
                        <iframe width="640" height="480" src="{{ tree.treeSketchfabLink }}/embed?camera=0"
                                frameborder="0"></iframe>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}