{# templates/tree/header.html.twig #}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1 0 auto;
        }
        .footer {
            flex-shrink: 0;
        }
    </style>
</head>
<div class="content">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Tree nursery</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">Logout</span>
            </button>
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('userList')}}">List Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('treeList')}}">List Trees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('environmentList')}}">List Environments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('typeList')}}">List Types</a>
                    </li>
                {% elseif is_granted("ROLE_USER")  %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('treeList')}}">List Trees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('environmentList')}}">List Environments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('typeList')}}">List Types</a>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ml-auto">

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'login' }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>