{# templates/tree/list_trees.html.twig #}
{# @var trees \App\Entity\Tree[] #}
{% extends 'tree/index.html.twig' %}
{% block treeContent %}
    <div class="container">
        <div class="card justify-content-center">
            <h5 class="card-header bg-dark text-white">
                Tree list
                <a href="{{ path('treeEdit') }}" class="btn btn-success float-right">New</a>
            </h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Resolution</th>
                            <th>Filename</th>
                            <th>Type</th>
                            <th>Environment</th>
                            <th>Edit</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for tree in trees %}
                            <tr>
                                <td>{{ tree.treeId }}</td>
                                <td>{{ tree.treeName }}</td>
                                <td>{{ tree.treeAge }}</td>
                                <td>{{ tree.treeResolution }}</td>
                                <td>{{ tree.treeFileName }}</td>
                                <td>
                                    <a class="nav-link"
                                       href="{{ path('typeEdit', {'typeId': tree.treeTreeType.treeTypeId}) }}">{{ tree.treeTreeType }}</a>
                                </td>
                                <td>
                                    <a class="nav-link"
                                       href="{{ path('environmentEdit', {'environmentId': tree.treeEnvironment.environmentId}) }}">{{ tree.treeEnvironment }}</a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="{{ path('treeEdit', { 'treeId': tree.treeId }) }}">EDIT</a>
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="btn btn-danger"
                                           href="{{ path('treeDelete', {'treeId': tree.treeId}) }}">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}